<div class="container">
  <h3>Chuyển đổi Dương lịch thành Âm lịch</h3>
  
  <div class="inputs">
    Ngày 
    <select [(ngModel)]="selectedDay">
      <option *ngFor="let d of days" [value]="d">{{d}}</option>
    </select>

    Tháng 
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let m of months" [value]="m">{{m}}</option>
    </select>

    Năm 
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let y of years" [value]="y">{{y}}</option>
    </select>

    <button (click)="convert()">Chuyển đổi</button>
  </div>

  <div *ngIf="lunarDetails" class="result">
    <h4>Âm Lịch</h4>
    <table border="1" style="border-collapse: collapse; width: 100%;">
      <tr><td>Thứ trong tuần</td><td>{{lunarDetails.weekday}}</td></tr>
      <tr><td>Ngày tháng năm âm</td><td>{{lunarDetails.lunarDateStr}}</td></tr>
      <tr><td>Năm</td><td>{{lunarDetails.yearCanChi}}</td></tr>
      <tr><td>Tháng</td><td>{{lunarDetails.monthCanChi}}</td></tr>
      <tr><td>Ngày</td><td>{{lunarDetails.dayCanChi}}</td></tr>
    </table>
  </div>
</div>